@model Winnie_Learning_Programme.Models.CoursesViewModel
@{
    ViewBag.Title = "Course Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html lang="en">
<body>

    <div class="page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Check Course Details</h2>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="section" id="product">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="left-images">
                        <img src="@Model.Course.Url" alt="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="right-content">
                        <h4>@Model.Course.Name</h4>
                        <ul class="stars">
                            @for (int i = 0; i < 5; i++)
                            {
                                <li><i class="fa fa-star"></i></li>
                            }
                        </ul>
                        <span>@Model.Course.Description.</span>
                        <div class="quote">
                            <i class="fa fa-quote-left"></i><p>Details of course.</p>
                        </div>
                        <div class="total">
                            <h4>Total: $@Model.Course.Price.00</h4>
                            <div class="main-border-button"><a href="#">Add To Cart</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>

