@using Microsoft.AspNet.Identity
@using Winnie_Learning_Programme.Services
@if (AuthenticationHelper.IsAuthenticated())
{
    using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">View Profile</a></li>
                        <li><a href="#">Edit Profile</a></li>
                        <li><a href="#">Change Password</a></li>
                        <li><a href="#">Setting</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
    }
}
else
{
    <ul class="nav" style="justify-content:flex-end;">
        <li>
            <a href="@Url.Action("Register", "Account")">
                <span class="glyphicon glyphicon-registration-mark"></span>
                Register
            </a>
        </li>
        <li>
            <a href="@Url.Action("Login", "Account")">
                <span class="glyphicon glyphicon-log-in"></span>
                Login
            </a>
        </li>
    </ul>
}
